.container {
  display: flex;
  padding: 20px;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
  background: var(--bg-gradient);
}

.card {
  width: 100%;
  max-width: 420px;
  padding: 40px 30px;
  text-align: center;
  border-radius: 16px;
  background: var(--bg-card);
  box-shadow: var(--shadow-card);
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px;
  color: var(--text-primary);
}

.form {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

/* .inputField {
  width: 100%;
  outline: none;
  font-size: 14px;
  padding: 12px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
  border: 1px solid var(--input-border);
}

.inputField:focus {
  border-color: var(--input-focus-border);
  box-shadow: 0 0 5px var(--input-focus-shadow);
}

.passwordWrapper {
  display: flex;
  position: relative;
  align-items: center;
}
