.container {
  width: 100%;
  z-index: 100;
  padding: 20px;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  color: var(--btn-text);
  background-color: var(--black);
}

.navInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

/* Hamburger menu - hidden on large screens */

.hamburger {
  gap: 5px;
  display: none;
  cursor: pointer;
  flex-direction: column;
}

.hamburger div {
  width: 25px;
  height: 3px;
  border-radius: 2px;
  background-color: var(--btn-text);
}

/* cross icon */

.closeBtn {
  display: none;
}

/* Buttons styling */

.btnContainer {
  gap: 15px;
  display: flex;
}

.btn {
  padding: 8px;
  width: 120px;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  color: var(--btn-text);
}

.btnPrimary {
  background-color: var(--btn-primary);
}

.btnRed {
  background-color: var(--btn-red);
}

.btnPrimary:hover {
  background-color: var(--btn-primary-hover);
}

.btnRed:hover {
  background-color: var(--btn-red-hover);
}

.activeSuccess {
  background-color: green;
}

.activeSuccess:hover {
  background-color: var(--btn-primary-hover);
}

.welcomeText {
  padding-top: 20px;
  text-align: center;
  color: var(--black);
}

/* Responsive / Mobile */

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .closeBtn {
    top: 20px;
    right: 20px;
    border: none;
    z-index: 1000;
    font-size: 32px;
    cursor: pointer;
    background: none;
    position: absolute;
    color: var(--black);
    display: block !important;
  }

  .btnContainer {
    top: 0;
    left: 0;
    gap: 20px;
    width: 100%;
    z-index: 999;
    display: none;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
    align-items: center;
    flex-direction: column;
    padding: 80px 20px 20px 20px;
    background-color: var(--white);
  }

  .btnContainer.activeMenu {
    display: flex;
  }

  .btn {
    width: 80%;
    padding: 12px;
    font-size: 18px;
  }
}
