.cardContainer {
  gap: 34px;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

/* NEW: Category Button Filter */
.categoryContainer {
  gap: 15px;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.categoryItem {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.categoryItem:hover {
  background-color: #f0f0f0;
}

.activeCategory {
  color: #fff;
  border-color: #000;
  background-color: #000;
}
