.card {
  width: 300px;
  display: flex;
  overflow: hidden;
  border-radius: 12px;
  flex-direction: column;
  border: 1px solid white;
  transition: transform 0.3s ease;
  background-color: var(--text-light, #fff);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card:hover {
  transform: scale(1.05);
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 16px;
  text-align: center;
}

.price {
  font-weight: 600;
  font-size: 1.6rem;
  margin: 8px 0 20px;
  color: var(--text-dark, #333);
}

.buttons {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.viewButton,
.deleteButton {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 8px;
  text-transform: none;
  transition: all 0.3s ease;
}

.deleteButton {
  color: #d32f2f !important;
  border: 2px solid #d32f2f !important;
  background-color: transparent !important;
}

.deleteButton:hover {
  color: white !important;
  background-color: #d32f2f !important;
}

/* Responsive */
@media (max-width: 500px) {
  .card {
    width: 90%;
    margin: 0 auto;
  }
}
